
@font-face {
    font-family: "Bebas Neue";
    src: url('fonts/BebasNeue Regular.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap&subset=cyrillic');

@import "reset.css";


html, body {
    color: #fff;
    font-size: 20px;
    font-family: 'Poiret One', serif;
    overflow: hidden;

}

body {
    background: url('../img/background.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.navigation {
    margin-top: 15px;
}

.navigation__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.navigation__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation__link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 7px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.08em;
    color: #F0F0F0;

    &:before, &:after {
        content: '';
        position: absolute;
        transition: transform .5s ease;
    }

    &:hover, &:focus {
        text-decoration: none;
        color: #fff;
    }

    &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, #03F7DB, #03AADB);
        transform: translateX(-101%);
    }

    &:hover:before {
        transform: translateX(0);
    }
}

.navigation__logo {
    width: 80px;
}

.heading__h1 {
    //margin: 50px auto 40px auto;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0.08rem;
    text-align: center;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.service {
    position: relative;
    width: 24%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin: 40px;
    background-color: #303030;
    transition: 0.5s;
    margin-bottom: 20px;
    border-radius: 2px;
    //padding-top: 50px;
    //padding-bottom: 40px;

    & svg {
        margin-bottom: 20px;

    }

    &:hover, &:focus {
        background: linear-gradient(-215deg, #CC00FF, #FAFF00);
        transition: all 0.4s ease;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 10px;
        justify-content: space-around;
        & .service__heading {
            color: #262929;
            //transition: all 0.4s ease;
            font-weight: 600;
            //margin-bottom: 10px;
        }

        & svg {
            //margin-bottom: 5px;
            //transition: margin-bottom 0.4s ease;
            min-width: 45px;
            min-height: 45px;
            width: 45px;
            height: 45px;
            margin-bottom: 0;

        }

        & svg path {
            fill: #262929;
        }

        .service__description {
            display: flex;
            //margin-bottom: 10px;
            transition: all 0.4s ease;
            font-weight: 600;
            line-height: 1.25;
        }

        .service__arrow {
            display: flex;
            transition: all 0.4s ease;
        }





    }

}

.service__description {
    text-align: center;
    color: #262929;
    font-size: 16px;
    display: none;
}

.service__arrow {
    display: none;
}

.service:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
    border-radius: 2px;
}

.service:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
    border-radius: 2px;
}

.service:before,
.service:after {
    background: linear-gradient(-215deg, #03F5DB, #333333, #02AEE1);


}

.service:hover:before, .service:hover:after {
    background:linear-gradient(-215deg, #CC00FF, #FAFF00);
}


.service__heading {
    font-family: 'Poiret One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-transform: uppercase;
}

//main {
//    padding-bottom: 30px;
//}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
    //margin-top: 15px;




}

.footer__phone, .footer__copyright-and-policy, .footer__address, .footer__developers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    & a, & p {
        line-height: 1.2;
    }

}

.copyright, .policy, .developers {
    color: #C0C0C0;
    font-size: 16px;
}

.policy {
    padding-top: 0;
    padding-bottom: 0;
    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
    }

}

.copyright {
    margin-bottom: 10px;
}

.footer__phone a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0;

}